body{
    background: linear-gradient(to right, #f58c63, #FF4500);
}
.login-section{ 
    background-color:#e4dbd9;
    line-height: 1.5;
    text-align: center;
    border-radius: 20px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 5px grey;
}
.titulo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.input-container {
    position: relative;
    margin: 20px;
}
.input-field {
    width: 30%;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 16px;
}
.input-label {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translateX(-10%);
    pointer-events: none;
    transition: 0.2s ease-out;
    color: #8f8e8e;
}
.input-field:focus + .input-label,
.input-field:valid + .input-label {
  top: 0;
  font-size: 12px;
  color: #000000;
}
.button{
    font-size: 15px;
    margin-bottom: 13px;
    background-color: #e4dbd9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    box-shadow: 1px 2px 2px black;
}
.button:hover {
    background-color: #8f8e8e;
}
.mensagem {
    display: none;
    padding: 10px;
    text-align: center;
}
.erro {
    background-color: #fc0202;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sucesso {
    background-color: #4aff02;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}