body{
    background: linear-gradient(to right, #d1f8eb, #87fad4);
}
.usuario-logado {
    position: absolute;
    top: 20px;
    right: 45px;
    color: white;
}
.logout {
    position: absolute;
    top: 43px;
    right: 87px;
}
.button_voltar {
    position: absolute;
    top: 33px;
    left: 15px;
}
.button{
    margin-bottom: 20px;
    font-size: 15px;
    margin-bottom: 13px;
    display: block;
    margin: 0 auto;
    background-color: #e4dbd9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    box-shadow: 1px 2px 2px black;
}
.button:hover {
    background-color: #8f8e8e;
}
.navbar {
    overflow: hidden;
    background-color: #707070;
    height: 65px;
    border-radius: 5px;
}
/* Estilos para os botões */
.navbar a {
    float: left;
    display: flex;
    align-items: center;
    color: white; /* Cor do texto dos botões */
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    height: 100%;
    margin-left: 80px; /* Adicione uma margem de 10px à esquerda */
    margin-right: -70px;
}
.navbar a:hover {
    background-color: #ddd; /* Cor de fundo quando o cursor passa por cima */
    color: black; /* Cor do texto quando o cursor passa por cima */
}
.dataTables_filter {
    margin-top: 10px;
    padding: 10px;
}
.dataTables_filter input {
    border: 1px solid black !important;
}
.dataTables tr,
.dataTables th,
.dataTables td {
    border: 1.5px solid black;
}
.icone-casa{
    font-size: 24px; 
}
.titulo{
    text-align: center;
}
.button_adc {
    min-width: 10px;
    font-size: 19px;
    margin: 13px auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    display: block;
    align-items: center;
}
.remove-produto {
    font-size: 15px;
    margin: 13px auto;
    background-color: #e4dbd9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }

.button_adc:hover,
.remove-produto:hover {
    background-color: #8f8e8e;
}

.success {
    background-color: #4aff02;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.error {
    background-color: #fc1100;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.container-vendas {
    background-color: #d6d4d4;
    border-radius: 20px;
    position: relative; /* Altere para position: relative */
    box-shadow: 2px 5px 5px grey;
    width: 80%;
    margin: 0 auto; /* Centralize horizontalmente */
    text-align: center; /* Centralize o conteúdo horizontalmente */
    display: flex; /* Centralize verticalmente */
    flex-direction: column; /* Centralize verticalmente */
    align-items: center; /* Centralize verticalmente */
    justify-content: center; /* Centralize verticalmente */
}

.section-vendas{
   height: 100%;
   width: 100%;
   line-height: 1.5;
}

.input-container {
    position: relative;
    margin: 20px;
}
.input-container select {
    width: 100%; /* Preenche a largura do container pai */
    max-width: 54%; /* Largura máxima para evitar que fique muito largo */
}
.input-field {
    width: 50%;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 16px;
}
.modal {
    padding: 10px;
    font-size: 14px;
}
.input-label {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translateX(-10%);
    pointer-events: none;
    transition: 0.2s ease-out;
    color: #8f8e8e;
}
.input-field:focus + .input-label,
.input-field:valid + .input-label {
  top: 0;
  font-size: 12px;
  color: #000000;
}
.input-checkbox {
    position: absolute;
    top: 60%;
    left: 35%;
    align-items: center;
    color: #000000;
}
.div-btn{
    padding: 10px;
}
.checkbox-group {
    text-align: center; /* Centraliza os elementos horizontalmente */
}
.checkbox-group label {
    display: block; /* Torna o rótulo um bloco para alinhá-lo acima dos checkboxes */
    text-align: center; /* Centraliza o rótulo */
    margin-bottom: 10px; /* Adiciona espaço abaixo do rótulo */
}
.tabela {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #c7c7c7;
    margin-top: 50px;
    border-color: black;
}
th{
    font-size: 17px;
    background-color: #9c9a9a;
}
a{
    text-decoration: none;
    color: #000;
}
.required-asterisk {
    color: red;
    margin-left: 5px;
    font-weight: bold;
    position: absolute;
    top: 30%;
}
.tabela-cadastro{
    margin-bottom: 80px;
    border-collapse: separate;
    border-spacing: 50px;

}
.tabela-cadastro th{
    font-size: 13px;
    background-color: transparent;
    border: none;
}
.tabela-cadastro td{
    font-size: 13px;

}
.remover-produto{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.editar-produto{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#editarProdutoModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Garanta que o modal esteja acima do elemento desfocado */
    pointer-events: auto;
    width: 30%;
    height: 90%;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    backdrop-filter: blur(5px); /* Aplica o desfoque ao fundo */
    z-index: 1000; /* Z-index menor que o modal para que o modal ainda esteja acima */
}
.close{
    position: absolute;
    top: 0px;
    right: 10px;
}
