<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clientes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/compras">Compras</a>
        <a href="/vendas">Vendas</a>
        <a href="/produtos">Produtos</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Cadastrar clientes</h1>
    <button class="button_adc"><a href="clientes">Ver meus clientes</a></button>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    <div id="container-login" class="clientes-section">
        <form action="{{ url_for('clientes_cadastro')}}" method="POST">
            <section id="clientes">
                <!--Nome-->
                <div class="input-container">
                    <input type="text" name="nome" id="nome" class="input-field" required>
                    <label for="nome" class="input-label">Nome</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Apelido-->
                <div class="input-container">
                    <input type="text" name="apelido" id="apelido" class="input-field">
                    <label for="apelido" class="input-label">Apelido</label>
                </div>
                <!--Celular-->
                <div class="input-container">
                    <input type="number" name="celular" id="celular" class="input-field">
                    <label for="celular" class="input-label">Celular</label>
                </div>
                <!--Botão de cadastro-->
                <div class="div-btn">
                    <input type="submit" class="button" value="CADASTRAR"id="btnCadastrar"></input>
                </div>
            </section>
        </form>
    </div>
</body>
</html>