<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compras.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/vendas">Vendas</a>
        <a href="/produtos">Produtos</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Compras</h1>
    <button class="button_adc"><a href="comprascadastro">ADICIONAR</a></button>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    
    <table id="tabelaCompras" class="tabela display" border="2">
        <thead>
            <tr>
                <th>ID Compra</th>
                <th>ID Fornecedor</th>
                <th>Quantidade de Peças</th>
                <th>Lote</th>
                <th>Valor total pago</th>
                <th>Data de compra</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.id_fornecedor }}</td>
                <td>{{ compra.qtd_pecas }}</td>
                <td>{{ compra.lote }}</td>
                <td>R${{ compra.val_total_pg }}</td>
                <td>{{ compra.dta_compra.strftime("%d/%m/%Y") }}</td>
                <td>
                    <a href="/editarcompras/{{ compra.id }}">
                    <div class="icon-container"><i class="fas fa-pencil-alt"></i></div>
                    </a>
                </td>
                <td>
                    <a href="/excluircompras/{{ compra.id }}" class="excluir-compra" data-id="{{ compra.id }}" data-confirm="Tem certeza de que deseja excluir esta compra?">
                        <div class="icon-container"><i class="fas fa-trash"></i></div>
                    </a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/js/compras.js"></script>
</body>
</html>