<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/compras.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/app/static/js/comprascadastro.js"></script>

</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/vendas">Vendas</a>
        <a href="/produtos">Produtos</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Cadastrar compras</h1>
    <button class="button_adc"><a href="compras">Ver minhas compras</a></button>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    <div id="container-login" class="compras-section">
        <form action="{{ url_for('compras_cadastro')}}" method="POST">
            <section id="compras">
                <!--ID do Fornecedor-->
                <div class="input-container">
                    <input type="number" name="id_fornecedor" id="id_fornecedor" class="input-field" required>
                    <label for="id_fornecedor" class="input-label">Código do fornecedor</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Quantidade de peças-->
                <div class="input-container">
                    <input type="number" name="qtd_pecas" id="qtd_pecas" class="input-field" required>
                    <label for="qtd_pecas" class="input-label">Quantidade de peças</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Valor total pago-->
                <div class="input-container">
                    <input type="text" name="val_total_pg" id="val_total_pg" class="input-field formatar-reais" required>
                    <label for="val_total_pg" class="input-label">Valor total pago</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Data de compra-->
                <div class="input-container">
                    <input type="date" name="dta_compra" id="dta_compra" class="input-field" required>
                    <label for="dta_compra" class="input-label"></label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Lote-->
                <div class="checkbox-group">
                    <label for="lote">
                        <span>É lote?</span>
                        <span style="color: red; font-weight: bold">*</span>
                    </label>
                    <input type="radio" name="lote" id="lote"  value="SIM" required> SIM
                    <input type="radio" name="lote" id="lote"  value="NÃO" required> NÃO
                </div>
                <!--Botão de cadastro-->
                <div class="div-btn">
                    <input type="submit" class="button" value="CADASTRAR"id="btnCadastrar"></input>
                </div>
            </section>
        </form>
    </div>
</body>
</html>