<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fornecedores.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
</body>
</html>