<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/produtos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/app/static/js/produtoscadastro.js"></script>
</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/compras">Compras</a>
        <a href="/vendas">Vendas</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Cadastrar produtos</h1>
    <div style="text-align: center;">
        <button class="button" style="margin-bottom: 20px;"><a href="produtos">Ver meus produtos</a></button>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    <div id="container-login" class="produtos-section">
        <form action="{{ url_for('produtos_cadastro')}}" method="POST">
            <section id="produtos">
                <!--Descrição-->
                <div class="input-container">
                    <input type="text" name="descricao" id="descricao" class="input-field" required>
                    <label for="descricao" class="input-label">Descrição</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Categoria-->
                <div class="input-container">
                    <select name="categoria" id="categoria" class="input-field">
                        <option value="" selected disabled>Selecione a categoria</option>
                        <option value="Blusa">Blusa</option>
                        <option value="Regata">Regata</option>
                        <option value="Saia">Saia</option>
                        <option value="Calca">Calça</option>
                        <option value="Short">Short</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Vestido">Vestido</option>
                        <option value="Academia">Academia</option>
                        <option value="Macacao">Macacão</option>
                        <option value="Vestido_festa">Vestido de festa</option>
                    </select>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Sub-categoria-->
                <div class="input-container">
                    <input type="text" name="sub_categoria" id="sub_categoria" class="input-field">
                    <label for="sub_categoria" class="input-label">Sub-categoria</label>
                </div>
                <!--Tamanho-->
                <div class="input-container">
                    <input type="text" name="tamanho" id="tamanho" class="input-field" required>
                    <label for="tamanho" class="input-label">Tamanho</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Cor-->
                <div class="input-container">
                    <input type="text" name="cor" id="cor" class="input-field">
                    <label for="cor" class="input-label">Cor</label>
                </div>
                <!--Medidas-->
                <div class="input-container">
                    <input type="number" name="medidas" id="medidas" class="input-field">
                    <label for="medidas" class="input-label">Medidas</label>
                </div>
                <!--Marca-->
                <div class="input-container">
                    <input type="text" name="marca" id="marca" class="input-field">
                    <label for="marca" class="input-label">Marca</label>
                </div>
                <!--Preço de custo-->
                <div class="input-container">
                    <input type="text" name="preco_custo" id="preco_custo" class="input-field formatar-reais">
                    <label for="preco_custo" class="input-label">Preço de custo</label>
                </div>
                <!--Preço de venda-->
                <div class="input-container">
                    <input type="text" name="preco_venda" id="preco_venda" class="input-field formatar-reais" required>
                    <label for="preco_venda" class="input-label">Preço de venda</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Foto-->
                <div class="input-container">
                    <input type="file" name="foto" id="foto" class="input-field" accept="image/*">
                    <label for="foto" class="input-label">Foto</label>
                </div>
                <!--Botão de cadastro-->
                <div class="div-btn">
                    <input type="submit" class="button" value="CADASTRAR"id="btnCadastrar"></input>
                </div>
            </section>
        </form>
    </div>
    <script src="/static/js/produtoscadastro.js"></script>
</body>
</html>