<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/compras">Compras</a>
        <a href="/produtos">Produtos</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Vendas</h1>
    <button class="button_adc"><a href="vendascadastro">ADICIONAR</a></button>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    
    <table id="tabelaVendas" class="tabela display" border="2">
        <thead>
            <tr>
                <th>ID Venda</th>
                <th>ID Produto</th>
                <th>Desconto</th>
                <th>Valor total da venda</th>
                <th>Forma de pagamento</th>
                <th>Data da venda</th>
                <th>Nome do cliente</th>
                <th>Tipo da venda</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.id_produto }}</td>
                <td>{{ venda.desconto }}</td>
                <td>R${{ venda.val_total }}</td>
                <td>{{ venda.forma_pagamento }}</td>
                <td>{{ venda.dta_venda.strftime("%d/%m/%Y") }}</td>
                <td>{{ venda.nome_cliente }}</td>
                <td>{{ venda.tipo_venda }}</td>
                <td>
                    <a href="/editarvendas/{{ venda.id }}">
                    <div class="icon-container"><i class="fas fa-pencil-alt"></i></div>
                    </a>
                </td>
                <td>
                    <a href="/excluirvendas/{{ venda.id }}" class="excluir-venda" data-id="{{ venda.id }}" data-confirm="Tem certeza de que deseja excluir esta venda?">
                        <div class="icon-container"><i class="fas fa-trash"></i></div>
                    </a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/js/vendas.js"></script>
</body>
</html>