<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de brechó</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="usuario-logado"><i class="fas fa-user"></i> {{ current_user.usuario }}</div>
    <div class="logout">
        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button" type="submit">Sair</button>
        </form>
    </div>
    <div class="navbar">
        <button onclick="window.history.back()" class="button button_voltar">Voltar</button>
        <a href="/home"><i class="fas fa-home icone-casa"></i></a>
        <a href="/compras">Compras</a>
        <a href="/vendas">Vendas</a>
        <a href="/produtos">Produtos</a>
        <a href="/fornecedores">Fornecedores</a>
        <a href="/clientes">Clientes</a>
    </div>
    <h1 class="titulo">Cadastrar vendas</h1>
    <div style="text-align: center;">
        <button class="button" style="margin-bottom: 20px;"><a href="vendas">Ver minhas vendas</a></button>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error">
                {{ messages[0][1] }}
            </div>
            {% elif category == 'success' %}
            <div class="success">
                {{ messages[0][1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    {% endwith %}
    {% block content %}
    <div id="container-login" class="container-vendas">
        <form id="formVendas" action="{{ url_for('vendas_cadastro')}}" method="POST">
            <section id="vendas" class="section-vendas">
                <div id="produtos-container">
                    <div class="campo-produto">
                        <!--ID do Produto-->
                        <div class="input-container">
                            <input type="number" name="id_produto[]" id="id_produto" class="input-field">
                            <label for="id_produto" class="input-label">ID Produto</label>
                            <span class="required-asterisk">*</span>
                        </div>
                        <button type="button" class="button_adc" onclick="adicionarProduto()"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg></button>

                    </div>
                </div>
                <table id="tabelaCadastroVendas" class="tabela-cadastro" border="2">
                    <thead>
                        <tr>
                            <th>ID Produto</th>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Tamanho</th>
                            <th>Cor</th>
                            <th>Marca</th>
                            <th>Preço de venda</th>
                            <th>Preço final</th>
                            <th>Foto</th>
                            <th>Editar produto</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--Incluído no JS-->
                    </tbody>
                </table>
                <!--Valor total-->
                <div class="input-container">
                    <input type="text" name="valor" id="valor" class="input-field formatar-reais">
                    <label for="valor" class="input-label">Valor total da venda</label>
                    
                </div>
                <!--Desconto-->
                <div class="input-container">
                    <label for="desconto" >Tipo de Desconto:</label>
                    <br>
                    <input type="radio" id="porcentagem" name="tipo_desconto" value="porcentagem"> 
                    <label for="porcentagem">Porcentagem</label>
                    
                    <input type="radio" id="valor" name="tipo_desconto" value="valor"> 
                    <label for="valor">Valor</label>
                </div>

                <div class="input-container">
                    <input type="number" name="desconto" id="desconto" class="input-field">
                    <label for="desconto" class="input-label" id="label-desconto">Desconto</label>
                </div>

                <!--Valor total pago-->
                <div class="input-container">
                    <input type="text" name="val_total" id="val_total" class="input-field formatar-reais" required>
                    <label for="val_total" class="input-label">Valor total pago</label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Forma de pagamento-->
                <div class="input-container">
                    <select name="forma_pagamento" id="forma_pagamento" class="input-field select">
                        <option value="" selected disabled>Forma de pagamento</option>
                        <option value="PIX">PIX</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Cartão de débito">Cartão de débito</option>
                    </select>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Data da venda-->
                <div class="input-container">
                    <input type="date" name="dta_venda" id="dta_venda" class="input-field" required>
                    <label for="dta_venda" class="input-label"></label>
                    <span class="required-asterisk">*</span>
                </div>
                <!--Nome do cliente-->
                <div class="input-container">
                    <input type="text" name="nome_cliente" id="nome_cliente" class="input-field">
                    <label for="nome_cliente" class="input-label">Nome do cliente</label>
                </div>
                <!--Tipo de venda-->
                <div class="checkbox-group">
                    <div for="tipo_venda">
                        <span>Tipo de venda</span>
                        <span style="color: red; font-weight: bold">*</span>
                    </div>
                    <input type="radio" name="tipo_venda" id="tipo_venda presencial"  value="Presencial" required> Presencial
                    <input type="radio" name="tipo_venda" id="tipo_venda online"  value="Online" required> Online
                </div>
                <!--Botão de cadastro-->
                <div class="div-btn">
                    <input type="submit" class="button" value="CADASTRAR"id="btnCadastrar"></input>
                </div>
            </section>
        </form>
        <div class="overlay" id="overlay"></div>
        <!-- Modal de Edição de Produto -->
        <div id="editarProdutoModal" class="modal">
            <div id="modal-dialog" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
                        <button type="button" class="button_adc close" id="fecharModal">X</button>
                    </div>
                    <div class="modal-body">
                        <form id="formEditarProduto" action="" method="POST">
                            <!--Descrição-->
                            <div class="input-container">
                                <input type="text" name="descricao" value="{{ produtos.descricao }}" class="input-field modal" required>
                                <label for="descricao" class="input-label">Descrição</label>
                                <span class="required-asterisk">*</span>
                            </div>
                            <!--Categoria-->
                            <div class="input-container">
                                <select name="categoria" id="categoria" class="input-field modal">
                                    <option value="" selected disabled>Selecione a categoria</option>
                                    <option value="Blusa" {% if produtos.categoria == 'Blusa' %}selected{% endif %}>Blusa</option>
                                    <option value="Regata" {% if produtos.categoria == 'Regata' %}selected{% endif %}>Regata</option>
                                    <option value="Saia" {% if produtos.categoria == 'Saia' %}selected{% endif %}>Saia</option>
                                    <option value="Calca" {% if produtos.categoria == 'Calca' %}selected{% endif %}>Calça</option>
                                    <option value="Short" {% if produtos.categoria == 'Short' %}selected{% endif %}>Short</option>
                                    <option value="Bermuda" {% if produtos.categoria == 'Bermuda' %}selected{% endif %}>Bermuda</option>
                                    <option value="Vestido" {% if produtos.categoria == 'Vestido' %}selected{% endif %}>Vestido</option>
                                    <option value="Academia" {% if produtos.categoria == 'Academia' %}selected{% endif %}>Academia</option>
                                    <option value="Macacao" {% if produtos.categoria == 'Macacao' %}selected{% endif %}>Macacão</option>
                                    <option value="Vestido_festa" {% if produtos.categoria == 'Vestido_festa' %}selected{% endif %}>Vestido de festa</option>
                                </select>
                                <span class="required-asterisk">*</span>
                            </div>
                            <!--Sub-categoria-->
                            <div class="input-container">
                                <input type="text" name="sub_categoria" value="{{ produtos.sub_categoria }}" class="input-field modal">
                                <label for="sub_categoria" class="input-label">Sub-categoria</label>
                            </div>
                            <!--Tamanho-->
                            <div class="input-container">
                                <input type="text" name="tamanho" value="{{ produtos.tamanho }}" class="input-field modal" required>
                                <label for="tamanho" class="input-label">Tamanho</label>
                                <span class="required-asterisk">*</span>
                            </div>
                            <!--Cor-->
                            <div class="input-container">
                                <input type="text" name="cor" value="{{ produtos.cor }}" class="input-field modal">
                                <label for="cor" class="input-label">Cor</label>
                            </div>
                            <!--Medidas-->
                            <div class="input-container">
                                <input type="number" name="medidas" value="{{ produtos.medidas }}" class="input-field modal">
                                <label for="medidas" class="input-label">Medidas</label>
                            </div>
                            <!--Marca-->
                            <div class="input-container">
                                <input type="text" name="marca" value="{{ produtos.marca }}" class="input-field modal">
                                <label for="marca" class="input-label">Marca</label>
                            </div>
                            <!--Preço de custo-->
                            <div class="input-container">
                                <input type="text" name="preco_custo" value="{% if produtos.preco_custo is not none %}R${{ produtos.preco_custo }}{% endif %}" class="input-field modal formatar-reais">
                                <label for="preco_custo" class="input-label">Preço de custo</label>
                            </div>
                            <!--Preço de venda-->
                            <div class="input-container">
                                <input type="text" name="preco_venda" value="R${{ produtos.preco_venda }}" class="input-field modal formatar-reais" required>
                                <label for="preco_venda" class="input-label">Preço de venda</label>
                                <span class="required-asterisk">*</span>
                            </div>
                            <!-- Preço final -->
                            <div class="input-container">
                                <input type="text" name="preco_final" value="{% if produtos.preco_final is not none %}{{ produtos.preco_final }}{% else %}{{ produtos.preco_venda }}{% endif %}" class="input-field modal formatar-reais">
                                <label for="preco_final" class="input-label">Preço final</label>
                            </div>
                            <!--Foto-->
                            <div class="input-container">
                                <input type="file" name="foto" value="{{ produtos.foto }}" class="input-field modal" accept="image/*">
                                <label for="foto" class="input-label">Foto</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button btn btn-primary" id="salvarEdicaoProduto">Salvar Alterações</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
<script src="/static/js/vendascadastro.js"></script>
</body>
</html>